.jobContainer{
    width: 25%;
    font-family: "Spartan", sans-serif; 
  background-color: #fff;

  display: inline-block;
  align-items: center;
  padding:2rem;
  border-radius: 5px;

  margin: 4rem;
  position: relative;
  border-left: 5px solid rgb(91, 164, 164);
  box-shadow: 0px 4px 6px 4px rgba(91, 164, 164, 0.2);
  left: 15%;
}
.bg{
    background-color: aliceblue;
}
.card{
    background-image: linear-gradient(to right top, #16b5c7, #1bc6d4, #26d8e0, #34eaea, #44fcf4);
    height: 8rem;
    border-radius: 10px;
    width: 100%;
    padding: 3rem;
    margin: auto;
}
.card:hover{
    background-image: linear-gradient(to right top, #4c16c7, #453ad7, #3f54e6, #3e6bf2, #4480fc);
    
}
.employerName{
    font-weight: 700;
      font-size: 1.1rem;
      display: inline-block;
      padding: 0.7rem 0;
      cursor: pointer;
      padding: 5px;
    
}
.role{
    font-weight: 700;
        color: rgb(91, 164, 164);
        margin-right: 0.8rem;
        font-size: 1.5rem;
        padding: 5px;
        margin-top: 10px;
      
}
.employerName:hover {
    color: rgb(91, 164, 164);
  }

.details{
    padding:20px 5px;
    color: hsl(180, 8%, 52%);
}
.list{
    padding: 10px 20px;
    border-style: none;
    border-radius: 10px;
    background-image: linear-gradient(to right top, #16b5c7, #1bc6d4, #26d8e0, #34eaea, #44fcf4);

    float: right;
    width: fit-content;
    height: fit-content;
    color: white;
    
}
.remove{
    padding: 10px 20px;
    border-style: none;
    border-radius: 10px;
    background-image: linear-gradient(to right top, #b8060a, #c62225, #d3353c, #df4753, #e95969);

    float: left;
    width: fit-content;
    height: fit-content;
    color: white;
}
.remove:hover{
    background-image: linear-gradient(to right top, #610204, #64070e, #680c14, #6b111a, #6e1620);
}
.list:hover{
    background-image: linear-gradient(to right top, #4c16c7, #453ad7, #3f54e6, #3e6bf2, #4480fc);

}

  @media (max-width: 600px){
    .jobContainer{
        width:65%;
        display: block;
        height: fit-content;
        padding: 20px;
    }
  }
  @media (max-width: 800px){
    .jobContainer{
        width:55%;
        display: block;
        margin-left:15%;
        left: 10%;
        height: fit-content;
        padding: 20px;
    }
   
  }
